/*
COMMON
******************/
html,
body{
    height: 100%;
}
.content {
    max-width: 680px;
    height: 100%;
    margin:0 auto;
    border-left:1px solid #ccc ;
    border-right: 1px solid #ccc;
}
/*
POSTS
***********************/
.posts ul{
    padding: 0;
}
.posts_form{
    padding: 20px 40px;
    border-bottom:1px solid #ccc;
}
.posts_form input {
    width: 70%;    
    margin-bottom:10px ;
    padding: 10px;
    border:1px solid #ccc
}
.posts_form textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc
}
.posts li{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 17px;
}
.posts li .logo{
    flex-basis: 15%;
}
.posts li .logo img{
    width: 60%;
}
.posts li .name_body{
    flex-basis: 85%;
}
.posts li .name-body .name{
    font-weight: bold;
}
.posts li .name-body .datetime{
    color: gray;
}
@media screen and (max-width: 500px) {
    .posts li .name-body .name{
        font-size: 40px;
    }   
}
.posts li img .menu-icon{
width: 20px;
position:absolute;
right: 30px;
top: 18px;
}
.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: #ccc;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}